@font-face {
  font-family: 'Pacifico';
  src: url('/Pacifico-Regular.ttf')
}
@font-face {
  font-family: 'Roboto';
  src: url('/Roboto-Bold.ttf')
}
.MuiList-root {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

:root {
  --orange: rgb(255, 171, 16);
  --purple: #974fba;
  --red: rgb(160, 60, 60);
  --green: rgb(65, 150, 65);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}




.title-with-line {
  display: flex; /* Display elements in a row */
  align-items: center; /* Vertically center the items */
}

.title-with-line h1 {
  margin-right: 10px; /* Add some spacing between title and line */
}
@media only screen and (max-width: 500px) {
  .title-with-line h1 {
    font-size: 2rem;
  }
}

.horizontal-line {
  flex: 1; /* Allow the line to stretch across the remaining space */
  height: 1px; /* Adjust the line's height as needed */
  background-color: var(--orange); /* Set line color to black or any other color you prefer */
}